<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.first.liptonapp">

    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true">
        <activity android:name=".FifthScreen"></activity>
        <activity android:name=".FourthScreen" />
        <activity android:name=".SecondScreen" />
        <activity android:name=".FirstScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.first.liptonapp.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>

        </provider>

        <service
            android:name=".MySendSMSservice"
            android:exported="false" />
        <service
            android:name=".WhatsAppAccessibilityService"
            android:label="LIPTON APP Accessibility Service"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            tools:ignore="MissingClass">
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/whatsapp_service" />

            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
        </service>

        <activity android:name=".MainActivity" />
    </application>

</manifest>